// Import partials
@import 'index';
@import 'navbar';


// Global styling

body {
  margin: 0;
}


body {
  background-color: #f0efff;
  font-family: Arial, sans-serif;
}

.main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0px;
  border: 2px white;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
